@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

#container {
  background-color: #FAFAFA;
}

#tool-header {
  color: #112B6F;
  font-size: 44pt;
  font-family: 'Montserrat Subrayada';
}

#user-header {
  border-right: none;
}

#user-dropdown {
  border-left: none;
}

#qtable {
  max-height: 500px;
  overflow-y: scroll;
}
